{% extends 'blog_app/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block content %}
<div class="home-page-welcome">
    Update password
</div>
<div class="container-index">
    <div class="row">
        <div class="col-md-12-dashboard text-center">
        </div>
    </div>
</div>
<div class="container-update">
    <form action="{% url 'update_password' %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-2">
                {% if success_message %}
                <div class="alert alert-success">
                    {{ success_message }}
                </div>
                {% elif error_message %}
                    <div class="alert alert-danger">
                        {{ error_message }}
                    </div>
                {% endif %}
                <label for="password" class="sr-only0"><b>New password</b></label>
                <input type="password" id="password" name="new_password" class="form-control mb-3" placeholder="Password">
                <label for="password-confirm" class="sr-only"><b>Confirm new password</b></label>
                <input type="password" id="password-confirm" name="new_password_confirm" class="form-control mb-3" placeholder="Confirm Password">
                <div>
                    <div class="col-md-12 justify-content-center">
                        <button class="btn btn-primary" type="submit">Update password</button>
                    </div>
                    <div class="text-center7">
                            <a class="nav-link" href="{% url 'dashboard' %}">Back to Dashboard</a>
                        </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}